@import "_head";
@import "_basics";

.aboutUs {
  @extend %f-wrap;
  padding-top: 10rem;
  .aboutUs__text {
    flex: 1 1 55rem;
    h1 {
      font-size: 5rem;
      line-height: 9rem;
    }
    p {
      font-weight: 400;
      font-size: 2rem;
      line-height: 30px;
      color: $grey;
    }
    .aboutUs__text__numbers {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 3rem;
      .aboutUs__text__numbers-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .hidden-h1 {
    font-size: 5rem;
    line-height: 9rem;
    display: none;
  }
  .aboutUs__image {
    flex: 1 1 46rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 80%;
    }
  }
}
