@import "_head";
@import "_basics";
.skills {
  @include d-flex;
  padding-top: 5rem;
  font-size: 4rem;
line-height: 80px;
}

.skills-courses {
  display: grid;
  grid-template-areas:
    "A B C"
    "A D D";
  gap: 10px;
  margin-top: 5rem;
  .course {
    padding: 4rem 3rem;
    background-color: #f5f5f5;
    border-radius: 10px;

    .course__btn {
      width: 100%;
      background-color: $main-color;
      color: $white;
      padding: 1rem 4rem;
      font-size: 2rem;
      border-radius: 5px;
      &:hover {
        background-color: #f5f5f5;
        color: $main-color;
        border: 1px solid $main-color;
      }
    }

    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 2rem;
      padding: 2.5rem 0;
    }

    img {
      width: 100%;
    }

    .areas {
      display: flex;
    }
  }
}
